@font-face {
  font-family: "Comic_CAT";
  src: url("./assets/fonts/Comic_CAT/Comic_CAT.otf");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  height: calc(100vh + 400px);
  background: url("./assets/back.jpeg") center center no-repeat;
  background-size: cover;
  font-family: "Comic_CAT", sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 42px;
  text-align: center;
}

li {
  position: relative;
  list-style-type: none;
}

.container {
  max-width: 1220px;
  background-color: transparent;
  margin: auto;
}

.bayan {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  border: solid 4px #6b4c3845;
  border-radius: 20px;
  background-color: #fff;
}

.bayan * {
  cursor: pointer;
}

.bayan img {
  height: 300px;
  transition: transform 0.2s linear 0.5s;
}

.lab {
  width: 70%;
  height: 50px;
  border-radius: 2px;
  font-size: 20px;
  text-align: left;
  line-height: 2.5;
  color: #6b4c38;
}

@media (pointer: coarse) {
  .bayan * {
    cursor: auto;
  }
  .lab {
    color: #000;
  }
}

.check {
  display: none;
}

.inner_mem {
  display: block;
}

.inner {
  display: block;
  height: 50px;
  transition: all 0.5s linear;
  overflow: hidden;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  text-align: center;
  border-top: solid 3px #6b4c3845;
}

.first_inner {
  border-top: none;
}

.inner:hover {
  height: 400px;
}

.inner:hover .state {
  transform: rotate(180deg);
}

.inner:hover img {
  transform: scale(1.1);
}

.inner:active {
  background-color: rgb(141, 150, 151);
}

.check:checked + .inner {
  height: 400px;
}

.check:checked ~ .inner .state {
  transform: rotate(180deg);
}

.state {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 20px;
  top: 0;
  background: url("./assets/unfold.png") center center no-repeat;
  background-size: cover;
  transition: transform 0.5s linear;
  display: none;
  border-radius: 50%;
}

@media (pointer: coarse) {
  .state {
    display: block;
  }
}

.bayan:hover .state {
  display: block;
}

.bayan:hover .lab {
  color: #000;
}

.bayan img {
  height: 300px;
}

.girl {
  position: absolute;
  bottom: -400px;
  right: 5%;
}

@media screen and (max-width: 820px) {
  body {
    height: 100vh;
  }
  h1 {
    font-size: 36px;
  }

  .lab {
    font-size: 18px;
  }

  .girl {
    bottom: 0;
  }
}

@media screen and (max-width: 580px) {
  h1 {
    font-size: 28px;
  }
  .lab {
    font-size: 16px;
    line-height: 1.5;
  }

  .bayan img {
    width: 80%;
    height: auto;
  }
}

@media screen and (max-width: 460px) {
  h1 {
    font-size: 28px;
  }
  .bayan img {
    width: 95%;
  }
  .check:checked + .inner {
    height: 350px;
  }
}

@media screen and (max-width: 320px) {
  h1 {
    font-size: 28px;
  }
  .bayan img {
    width: 95%;
  }
  .check:checked + .inner {
    height: 250px;
  }
}
